* {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: 'Noto Sans TC', sans-serif;
    /* background: rgb(40, 24, 98); */
    background-image: url(./bg.png);
    background-repeat:no-repeat;
    letter-spacing: 0.1em;
  }
  .container {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    text-align:start;
  }
  .title{
    color: rgb(208,178,161);
    text-align:center;
    font-size: 48px;
  }
  .sentence_box{
      background: rgb(244,241,236);
      margin: 0 auto;
      width: 80%;
      align-items: center; 
      height: 200px;
      display: flex;
      padding: 40px;
  }
  .sentence{
    color: rgb(80, 79, 114);
    font-weight: bold;
    font-size: 20px;
    display: flex;
    text-align: left;
    line-height: 150%;
  }
  .button{
    background: rgb(208,178,161);
    color: rgb(80, 79, 114);
    display: block;
    border: none;
    padding: 18px;
    width: 300px;
    text-align: center;
    margin: 0 auto;
    margin-top: 42px;
    margin-bottom: 42px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 200px;
    cursor: pointer;
  }
  .line_icon{
    width: 220px;
    margin-top: 20px;
  }
  .content{
    text-align: start;
    font-size: 15px;
    line-height: 22px;
    color: white;
    font-weight: normal;

  }
  .message{
    margin-top: 20px;
    color: rgb(235, 196, 174);
    font-size: 13px;
    line-height: 18px;
  }